<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Management{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    {% load crispy_forms_tags %} {% csrf_token %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.resolver_match.url_name == 'store_book' %}active{% endif %}">
                        <a class="nav-link" href="{%url 'show_task'%}">Show</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'store_book' %}active{% endif %}">
                        <a class="nav-link" href="{%url 'store_task' %}">Store</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'store_book' %}active{% endif %}">
                        <a class="nav-link" href="{%url 'completed_tasks' %}">Completed Tasks</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
